<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}
<body class="rental">
  <!-- -------- START HEADER ------- -->
  <header>
    <div class="page-header min-vh-50" style="background-image: url(../../static/assets/img/textile.jpg)">
      <span class="mask bg-dark opacity-8"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-white text-center">
            <h2 class="text-white">Interactive CRM for Textile SMB </h2>
            <p class="lead">Display historical, prediction sales for textile SMB</p>
            <h2 class="text-white ">Click Bar and Press Query</h2>
            <p class="lead text-white mt-3 font-weight-normal">{{ version }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <form method="post" action="/customer_sales#customer_sales" id="customer_sales">
            <section class="py-6">
                <div class="row bg-white shadow mt-n5 border-radius-lg pb-4 p-3 mx-sm-0 mx-1 position-relative">
                    <div class="col-lg-8 mt-lg-n2 mt-2">
                        <h3>Top 10 Sales by Customers</h3>
                    </div>
                    <label class="">&nbsp;</label>
                    <div class="col-lg-3">
                        <select class="form-control" name="table-choice" id="customer_sales-choice" placeholder="Query From Table">
                            <option value="Q1">Q1</option>
                            <option value="Q3">Q2</option>
                            <option value="Q3">Q3</option>
                            <option value="Q3">Q4</option>
                            <option value="Month_All" selected>ALL</option>
                        </select>
                    </div>
                    <label class="">&nbsp;</label>
                    <div class="col-lg">
                        <button type="submit" class="btn bg-gradient-primary w-30 mb-0">Query</button>
                    </div>

                    <section class="pt-1 mt-4">
                      <div class="container">
                        <div class="row justify-content-center">
                          <div class="col-lg-12">
                            <div class="card">
                              <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                  <thead>
                                    <tr>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total_Sales</th>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Customer_Name</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer_Type</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer_Class</th>
                                      <th class="text-secondary opacity-7"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% for item in customer_sales %}
                                          <tr>
                                              <td class="align-middle text-center text-sm">
                                                <div class="d-flex px-2 py-1">
                                                    <h6 class="mb-0 text-xs">{{ item[0] }}</h6>
                                                </div>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[1] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[2] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[3] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[4] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[5] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[6] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[7] }}</p>
                                              </td>
                                          </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                </div>
            </section>
        </form>
    </div>
    <div class="container">
        <form method="post" action="/product_sales#product_sales" id="product_sales">
            <section class="py-6">
                <div class="row bg-white shadow mt-n5 border-radius-lg pb-4 p-3 mx-sm-0 mx-1 position-relative">
                    <div class="col-lg-8 mt-lg-n2 mt-2">
                        <h3>Top Sales by Each Product Category</h3>
                    </div>
                    <label class="">&nbsp;</label>
                    <div class="col-lg-3">
                        <select class="form-control" name="table-choice" id="sales-by-film-select" placeholder="Query From Table">
                            <option value="Q1" selected="">Q1</option>
                            <option value="Q2">Q2</option>
                            <option value="Q3">Q3</option>
                            <option value="Q4">Q4</option>
                            <option value="Month_All" selected>All</option>
                        </select>
                    </div>
                    <label class="">&nbsp;</label>
                    <div class="col-lg">
                        <button type="submit" class="btn bg-gradient-primary w-30 mb-0">Query</button>
                    </div>

                    <section class="pt-1 mt-4">
                      <div class="container">
                        <div class="row justify-content-center">
                          <div class="col-lg-12">
                            <div class="card">
                              <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                  <thead>
                                    <tr>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total_Sales</th>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product_Name</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product_Category</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product_Description</th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% for item in product_sales %}
                                          <tr>
                                              <td class="align-middle text-center text-sm">
                                                <div class="d-flex px-2 py-1">
                                                    <h6 class="mb-0 text-xs">{{ item[0] }}</h6>
                                                </div>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[1] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[2] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[3] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[4] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[5] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[6] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[7] }}</p>
                                              </td>
                                          </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                </div>
            </section>
        </form>
    </div>
      <div class="container">
        <form method="post" action="/predictive_sales#predictive_sales" id="predictive_sales">
            <section class="py-6">
                <div class="row bg-white shadow mt-n5 border-radius-lg pb-4 p-3 mx-sm-0 mx-1 position-relative">
                    <div class="col-lg-8 mt-lg-n2 mt-2">
                        <h3>Predictive Sales by Users</h3>
                    </div>
                    <label class="">&nbsp;</label>
                    <div class="col-lg-3">
                        <select class="form-control" name="table-choice" id="promo-roi-select" placeholder="Query From Table">
                            <option value="Q1" selected="">2021</option>
                            <option value="Q2">2022Q1</option>
                            <option value="Q3">2022Q2</option>
                            <option value="Q4">2022Q2</option>
                            <option value="Month_All" selected>All</option>
                        </select>
                    </div>
                    <label class="">&nbsp;</label>
                    <div class="col-lg">
                        <button type="submit" class="btn bg-gradient-primary w-30 mb-0">Query</button>
                    </div>
                    <section class="pt-1 mt-4">
                      <div class="container">
                        <div class="row justify-content-center">
                          <div class="col-lg-12">
                            <div class="card">
                              <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                  <thead>
                                    <tr>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prediction_Sales</th>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">User_Name</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User_b_unit</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User_title</th>
                                      <th class="text-secondary opacity-7"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% for item in predictive_sales %}
                                          <tr>
                                              <td class="align-middle text-center text-sm">
                                                <div class="d-flex px-2 py-1">
                                                    <h6 class="mb-0 text-xs">{{ item[0] }}</h6>
                                                </div>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[1] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[2] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[3] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[4] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[5] }}</p>
                                              </td>
                                          </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                </div>
            </section>
        </form>
    </div>
    <div class="container">
        <form method="post" action="/campaign_roi#campaign_roi" id="campaign_roi">
            <section class="py-6">
                <div class="row bg-white shadow mt-n5 border-radius-lg pb-4 p-3 mx-sm-0 mx-1 position-relative">
                    <div class="col-lg-10 mt-lg-n2 mt-2">
                        <h3>Most Profitable Campaign of Each Type</h3>
                    </div>
                    <label class="">&nbsp;</label>
                    <div class="col-lg-3">
                        <select class="form-control" name="table-choice" id="pop-promo-select" placeholder="Query From Table">
                            <option value="2021" selected="">2021</option>
                            <option value="2022">2022</option>
                            <option value="Month_All" selected>All</option>
                        </select>
                    </div>

                    <label class="">&nbsp;</label>
                    <div class="col-lg">
                        <button type="submit" class="btn bg-gradient-primary w-30 mb-0">Query</button>
                    </div>

                    <section class="pt-1 mt-4">
                          <div class="container">
                            <div class="row justify-content-center">
                              <div class="col-lg-12">
                                <div class="card">
                              <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                  <thead>
                                    <tr>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Profit</th>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cost</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Campaign_Name</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Campaign_Type</th>
                                      <th class="text-secondary opacity-7"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% for item in campaign_roi %}
                                          <tr>
                                              <td class="align-middle text-center text-sm">
                                                <div class="d-flex px-2 py-1">
                                                    <h6 class="mb-0 text-xs">{{ item[0] }}</h6>
                                                </div>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[1] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[2] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[3] }}</p>
                                              </td>
                                              <td class="align-middle text-center text-sm">
                                                  <p class="text-xs font-weight-bold mb-0">{{ item[4] }}</p>
                                              </td>
                                          </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                </div>
            </section>
        </form>
    </div>
  </header>
  <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->
 </body>
{% endblock %}